{% extends "base.html" %}

{% block content %}
    <h1>Products</h1>
            <a href="main">Return to main menu</a><br><br>
            <table>
            <tr>
                    <td>LID</td>
                    <td>PRICE</td>
                    <td>QUANTITY</td>
                    <td>OID</td>
                    <td>PID</td>
            </tr>
    {% for product in products %}
            <tr>
                    <td>{{ lineItem.lid }}</td>
                    <td>{{ lineItem.price }}</td>
                    <td>{{ lineItem.quantity }}</td>
                    <td>{{ order.oid}}</td>
                    <td>{{ product.pid}}</td>

            </tr>
    {% endfor %}
        </table>

{% endblock %}
