{% extends "base.html" %}

{% block content %}
    <h1>Products</h1>
            <a href="main">Return to main menu</a><br><br>
            <table>
            <tr>
                    <td>PRODUCT NAME</td>
                    <td>PRICE</td>
                    <td>QUANTITY</td>
            </tr>
    {% for lineItem in lineItems %}
            <tr>
                    <td>{{ lineItem.productname }}</td>
                    <td>{{ lineItem.price }}</td>
                    <td>{{ lineItem.quantity }}</td>
            </tr>
    {% endfor %}
        </table>
        <br><br>
        <form action="/checkout" method="POST">
            <input type="submit" value="Checkout?" />
        </form>

{% endblock %}
