{% extends "base.html" %}

{% block content %}
    <h1>Product</h1>
        <form action="/addToCart" method="POST">
            SKU:<br>
            {{product.sku}}<br><br>

            Name:<br>
            {{ product.name }}<br><br>

            Price:<br>
            {{ product.price }}<br><br>

            Description:<br>
            {{ product.description }}<br><br>

            <input type="hidden" name="pid" value="{{ product.pid }}" /><br>

            Quantity:<br>
            <select name="quantity">
                <option value="True" >1</option>
                <option value="False" >2</option>
                <option value="False" >3</option>
                <option value="False" >4</option>
                <option value="False" >5</option>
                <option value="False" >6</option>
                <option value="False" >7</option>
                <option value="False" >8</option>
                <option value="False" >9</option>
            </select>
            <br><br>
            
            <input type="submit" value="Add To Cart"/>

        </form>

{% endblock %}