{% extends "base.html" %}

{% block content %}
    <h1>Product</h1>
        <a href="addcart">Add To Cart</a><br><br>
            <table>
            <tr>
                    <td>SKU</td>
                    <td>NAME</td>
                    <td>PRICE</td>
                    <td>DESCRIPTION</td>
            </tr>
    {% for product in products %}
            <tr>
                    <td>{{ product.sku }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.description }}</td>

            </tr>
    {% endfor %}
        </table>

{% endblock %}
