{% extends "base.html" %}

{% block content %}
    <h1>Product</h1>
    <style>
    body {
        background-color: #C0E8D5;
    }
    </style>
        <form action="/addToCart" method="POST">
            SKU:<br>
            {{product.sku}}<br><br>

            Name:<br>
            {{ product.name }}<br><br>

            Price:<br>
            {{ product.price }}<br><br>

            Description:<br>
            {{ product.description }}<br><br>

            <input type="hidden" name="pid" value="{{ product.pid }}" /><br>

            Quantity:<br>
            <input type="int" name="quantity" value="{{ product.quantity }}" /><br><br>
            
            <input type="submit" value="Add To Cart"/>

        </form>
{% endblock %}