{% extends "base.html" %}

{% block content %}
    <h1>Our Products</h1>
    <a href="cart">Cart</a><br><br>
    <body id='items'>
            Small Dogs:<br>
            <a href="productPage"> <IMG SRC="small_sweater.png"/></a>
            <a href="productPage2"> <IMG SRC="small_sweater3.jpeg"/></a>
            <a href="productPage3"> <IMG SRC="small_sweater2.jpeg"/></a><br>
            <br><br>
            Large Dogs:<br>
            <a href="productPage4"> <IMG SRC="large_sweater.jpeg"/></a>
            <a href="productPage5"> <IMG SRC="large_sweater3.jpeg"/></a>
            <a href="productPage6"> <IMG SRC="large_sweater2.jpeg"/></a><br>
            <br>
    </body>

{% endblock %}
