{% extends "base.html" %}

{% block content %}
    <h1>Users</h1>
            <a href="newcustomer"> Add new user</a>
            <table>
            <tr>
                    <td>ID</td>
                    <td>NAME</td>
                    <td>EMAIL</td>
                    <td>SUBSCRIBED</td>
                    <td>TYPE</td>
            </tr>
    {% for user in users %}
            <tr>
                    <td><a href="user?id={{ user.id }}">{{ user.id }}</a></td>
                    <td>{{ user.fname }} {{ user.lname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.subscribed}}</td>
                    <td>{{ user.type}}</td>

            </tr>
    {% endfor %}
        </table>

{% endblock %}