{% extends "base.html" %}

{% block content %}
    <h1>Customers</h1>
            <a href="newcustomer"> Add new customer</a>
            <table>
            <tr>
                    <td>ID</td>
                    <td>NAME</td>
                    <td>EMAIL</td>
                    <td>SUBSCRIBED</td>
            </tr>
    {% for customer in customers %}
            <tr>
                    <td><a href="customer?id={{ customer.id }}">{{ customer.id }}</a></td>
                    <td>{{ customer.fname }} {{ customer.lname }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.subscribed}}</td>
            </tr>
    {% endfor %}
        </table>

{% endblock %}