{% extends "loginbase.html" %}

{% block content %}
    <h1>Login</h1>
    <style>
    body {
        background-color: #C0E8D5;
    }
    </style>
    {% if msg %}
        <div id = "loginmsg">
        
          {{ msg}}
        
        </div>
    {% endif %}

        <form action="/login" method="POST">

            Email:<br>
            <input type="text" name="email" /><br><br>

            Password:<br>
            <input type="password" name="password" /> <br> <br>
            
            <input type="submit" value="Login"/>

            <br><br>

            <a href="loginadmin">Admin Login</a>

            <br><br>

            <a target ="_blank" href="https://github.com/halukijl/flaskTemplate">View on GitHub</a>
        </form>

{% endblock %}