{% extends "loginbase.html" %}

{% block content %}
    <h1>Admin Login</h1>
    {% if msg %}
        <div id = "loginmsg">
        
          {{ msg}}
        
        </div>
    {% endif %}

        <form action="/loginadmin" method="POST">

            Email:<br>
            <input type="text" name="email" /><br><br>

            Password:<br>
            <input type="password" name="password" /> <br> <br>
            
            <input type="submit" value="Login"/>

            <br><br>
            <a href="login">Login</a>
        </form>

{% endblock %}