{% extends "base.html" %}

{% block content %}
    <h1>My Orders</h1>
            <table>
            <tr>
                    <td>ID</td>
                    <td>CREATE TIME</td>
                    <td>STATUS</td>
                    <td>PRICE</td>
                    <td>USER ID</td>
            </tr>
    {% for order in orders %}
            <tr>
                    <td><a href="myorder?oid={{ order.oid }}">{{ order.oid }}</a></td>
                    <td>{{ order.createtime }}</td>
                    <td>{{ order.status}}</td>
                    <td>{{ order.orderprice}}</td>
                    <td>{{ order.userid }}</td>

            </tr>
    {% endfor %}
        </table>

{% endblock %}