{% extends "base.html" %}

{% block content %}
    <h1>Order</h1>
    <style>
    body {
        background-color: #C0E8D5;
    }
    </style>
            <a href="myorders">Return to your orders</a><br><br>
            <table>
            <tr>
                    <td>PRODUCT NAME</td>
                    <td>PRICE</td>
                    <td>QUANTITY</td>
            </tr>
    {% for lineItem in lineItems %}
            <tr>
                    <td>{{ lineItem.productname }}</td>
                    <td>{{ lineItem.price }}</td>
                    <td>{{ lineItem.quantity }}</td>
            </tr>
    {% endfor %}
        </table>

{% endblock %}