{% extends "base.html" %}

{% block content %}
    <h1>Order</h1>
            <a href="orders">Return to orders</a><br><br>
            <table>
            <tr>
                    
                    <td>OID</td>
                    <td>PID</td>
                    <td>PRICE</td>
                    <td>QUANTITY</td>
            </tr>
    {% for lineItem in lineItems %}
            <tr>
                    <td>{{ lineItem.oid }}</td>
                    <td>{{ lineItem.pid}}</td>
                    <td>{{ lineItem.price }}</td>
                    <td>{{ lineItem.quantity }}</td>

            </tr>
    {% endfor %}
        </table>

{% endblock %}