{% extends "base.html" %}

{% block content %}
    <h1>Product</h1>
            <table>
            <tr>
                    <td>ID</td>
                    <td>CREATE TIME</td>
                    <td>STATUS</td>
                    <td>PRICE</td>
                    <td>USER ID</td>
            </tr>
    {% for product in products %}
            <tr>
                    <td><a href="order?id={{ order.id }}">{{ order.id }}</a></td>
                    <td>{{ order.createtime }}</td>
                    <td>{{ order.status}}</td>
                    <td>{{ order.price}}</td>
                    <td>{{ order.userid }}</td>

            </tr>
    {% endfor %}
        </table>
        <br><br>

{% endblock %}