{% extends "base.html" %}

{% block content %}
    <h1>Order</h1>
        <form action="/vieworder" method="POST">
            OID:<br>
            {{ order.oid }}<br><br>

            STATUS:<br>
            {{ order.status }}<br><br>

            ORDER PRICE:<br>
            {{ order.price }}<br><br>


            USER ID:<br>
            {{ order.userid }}<br><br>

            <input type="hidden" name="oid" value="{{ order.oid }}" /><br>
            
            <a href="orders"> Return To Order Page</a>

        </form>

        <form action="/deleteorder" method="POST">
            <input type="submit" value="Delete This Order?" />
            <input type="hidden" name="id" value="{{ order.oid }}" />
        </form>

{% endblock %}