{% extends "base.html" %}

{% block content %}
    <h1>Product</h1>
        <form action="/saveProduct" method="POST">
            
            SKU:<br>
            <input type="int" name="sku" value="{{ product.sku }}"/><br><br>

            Name:<br>
            <input type="text" name="name" value="{{ product.name }}" /><br><br>

            Price:<br>
            <input type="float" name="price" value="{{ product.price }}" /><br><br>

            <input type="hidden" name="id" value="{{ product.id }}" />

            <br><br>
            
            <input type="submit" value="Save Product"/>
        
        </form>

{% endblock %}