{% extends "base.html" %}

{% block content %}
    <h1>Products</h1>
            <a href="newProduct"> Add new product</a>
            <table>
            <tr>
                    <td>pid</td>
                    <td>sku</td>
                    <td>name</td>
                    <td>price</td>
            </tr>
    {% for product in products %}
            <tr>
                    <td><a href="product?pid={{ product.pid }}">{{ product.pid }}</a></td>
                    <td>{{ product.sku }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
            </tr>
    {% endfor %}
        </table>

{% endblock %}