{% extends "base.html" %}

{% block content %}
    <h1>Product</h1>
        <form action="/saveproduct" method="POST">
            SKU:<br>
            <input type="int" name="sku" value="{{ product.sku }}"/><br><br>

            Name:<br>
            <input type="text" name="name" value="{{ product.name }}" /><br><br>

            Price:<br>
            <input type="float" name="price" value="{{ product.price }}" /><br><br>

            Description:<br>
            <input type="text" name="description" value="{{product.description }}"/><br><br>

            <input type="hidden" name="pid" value="{{ product.pid }}" /><br>
            
            <input type="submit" value="Save Product"/>

        </form>

{% endblock %}