{% extends "base.html" %}

{% block content %}
    <h1>Products</h1>
    <style>
    body {
        background-color: #C0E8D5;
    }
    </style>
            <a href="newProduct"> Add new product</a>
            <table>
            <tr>
                <br>
                    <td>PID</td>
                    <td>SKU</td>
                    <td>NAME</td>
                    <td>PRICE</td>
                    <td>DESCRIPTION</td>
            </tr>
    {% for product in products %}
            <tr>
                    <td><a href="product?pid={{ product.pid }}">{{ product.pid }}</a></td>
                    <td>{{ product.sku }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.description }}</td>
            </tr>
    {% endfor %}
        </table>

{% endblock %}